.quotation-card-div{
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
}

.quotation-text{
    
}

.quotation-lower-part{
    display: flex;


}

.horizontal-line{

}

.quoting-person-name{

}
.hyphen{

}