<!-- <div class="quotation-card-div">
<span class="quotation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sunt perspiciatis id aliquid quis quos magni dolorum in eaque voluptatibus! 
    Praesentium sit non eos aliquam beatae! Eveniet consequuntur molestiae perspiciatis vel!</span>

<div class="quotation-lower-part">
    <div class="horizontal-line"></div>
    <span class="quoting-person-name">Testname</span>
    <span class="hyphen"> - </span>
    <span class="quoting-person-position">Testpossition</span>
</div>


</div> -->


<div class="quotation-card-div">
    <span class="quotation-text">{{ text }}</span>
  
    <div class="quotation-lower-part">
      <div class="horizontal-line"></div>
      <span class="quoting-person-name">{{ name }}</span>
      <span class="hyphen"> - </span>
      <span class="quoting-person-position">{{ position }}</span>
    </div>
  </div>
  