<div class="about-me-section">

    <div>
        <img class="profile-image-about-me" src="../../assets/img/about_me/dummy_aboutMe.jpg">
    </div>
    <div class="about-me-right">
        <span class="who-i-am">Who I Am</span>
        <div class="about-me-card">
            <span class="about-me-heading">About Me</span>
            <div class="card-content-section">
                <span class="about-me-introduction">
                    Hey there, I'm Lukas !Write some information about yourself that is IT related.
                    Why are you passionate about coding?
                    What is your source of inspiration for improving your programming skills.
                </span>
                <div class="lower-card-section">
                    <div class="location-section subcategory">
                        <img src="../../assets/img/about_me/location.svg">
                        <span>Where are you based ? Would you be open to working remotely or potentialle
                            relocating</span>
                    </div>
                    <div class="motivation-section subcategory">
                        <img src="../../assets/img/about_me/cognition.svg">
                        <span>Show that you are open-minded. Are you enthusiastic about learning new technologie and
                            continually improving your skills</span>
                    </div>
                    <div class="check-section subcategory">
                        <img src="../../assets/img/about_me/Quality.svg">
                        <span>A brief description of your problem-solving approach.
                            Do you learn from each challenge as you search for the most efficient or elegant solution ?
                            You can include some keywords like analytical thinking. creativity persistance and
                            collaboration</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>