.about-me-section{
        background-color: #292929;
color: white;
height: 500px;     //just to show section

background: radial-gradient(circle 75% at left center, rgba(8, 70, 59, 0.3), rgba(28, 28, 28, 1));




}

