<div class="about-me-wrapper">
    <div class="about-me-section">
        <div>
            <img id="about-me-section-path" class="profile-image-about-me" src="../../assets/img/about_me/rb1.jpg">
        </div>
        <div class="about-me-right">
            <span class="who-i-am">{{'ABOUT_ME.WHO'| translate}}</span>
            <div class="about-me-card">
                <span class="about-me-heading">{{'ABOUT_ME.ABOUT_ME'| translate}}</span>
                <div class="card-content-section">
                    <span class="about-me-introduction">
                        {{'ABOUT_ME.INTRO'| translate}}
                    </span>
                    <div class="lower-card-section">
                        <div class="location-section subcategory">
                            <img src="../../assets/img/about_me/location.svg">
                            <span> {{'ABOUT_ME.LOCALISATION'| translate}}</span>
                        </div>
                        <div class="motivation-section subcategory">
                            <img src="../../assets/img/about_me/cognition.svg">
                            <span>{{'ABOUT_ME.EFFORT'| translate}}</span>
                        </div>
                        <div class="check-section subcategory">
                            <img src="../../assets/img/about_me/Quality.svg">
                            <span>{{'ABOUT_ME.DESCRIPTION'| translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>