<form class="contact-form-container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label class="question-contact-input" for="name">What's your name ?</label>
    <input id="name" formControlName="name" required />
  
    <label for="email">What's your email?</label>
    <input id="email" formControlName="email" required type="email" />
  
    <label for="message">How can i help you ?</label>
    <textarea id="message" formControlName="message" required></textarea>
  
    <button type="submit" [disabled]="contactForm.invalid">Say Hello ;)</button>
  </form>
  