<div class="position-container">
    <form class="contact-form-container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="name-input-section">
            <label class="question-contact-input" for="name">What's your name ?</label>
            <input placeholder="Wert..." id="name" formControlName="name" required />
        </div>
        <div class="email-input-section">
            <label for="email">What's your email?</label>
            <input id="email" formControlName="email" required type="email" />
        </div>
        <div class="message-area-section">
            <label for="message">How can i help you ?</label>
            <textarea id="message" formControlName="message" required></textarea>
        </div>
        <button class="contact-submit-button" type="submit" [disabled]="contactForm.invalid">Say Hello ;)</button>
    </form>
</div>