.contact-form-container {
    display: flex;
    flex-direction: column;
}

.contact-submit-button {
    border-top: 1px solid #3DCFB6;
}

.position-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-section {
    display: flex;
}

.checkbox-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.checkbox-section input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #1abc9c;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.checkbox-section input[type="checkbox"]:hover {
    box-shadow: 0 0 10px rgba(26, 188, 156, 0.8);
}

.checkbox-section input[type="checkbox"]:checked {
    background-color: black;
    border-color: #1abc9c;
    box-shadow: 0 0 10px #1abc9c;
}

.checkbox-section input[type="checkbox"]::after {
    content: "\2714";
    font-size: 18px;
    color: #1abc9c;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.checkbox-section input[type="checkbox"]:checked::after {
    opacity: 1;
}

.checkbox-section label {
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.privacy-policy-link {
    color: #1abc9c;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.privacy-policy-link:hover {
    color: white;
    text-decoration: underline;
}

.privacy-confirmation-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.privacy-policy-link {
    letter-spacing: -3%;
}

.contact-submit-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: marquee 4s linear infinite;
}

@keyframes marquee {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.contact-submit-button:hover .submit-span {
    animation: none;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-submit-button:hover {
    border: 1px solid #3DCFB6;
}

.question-name-input {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3DCFB6;
}

.question-mail-input {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3DCFB6;
}

.question-message-input {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3DCFB6;
}

.name-input-section {
    border-top: 1px solid #3DCFB6;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.email-input-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #3DCFB6;
    gap: 16px;
}

.message-area-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid rgba(61, 207, 182, 0.5);
    border-bottom: 1px solid rgba(61, 207, 182, 0.5);
}





