<div class="contact-section" id="contact-section-path">
    <div class="left-contact-side">
        <div class="left-upper-section">
            <span class="contact-me-span">{{'CONTACT.CONTACT_ME'| translate}}</span>
            <span class="work-together-heading">{{'CONTACT.HEADING'| translate}}</span>
        </div>
        <div class="left-lower-section">
            <span class="left-lower-heading">{{'CONTACT.SUBHEADING'| translate}}</span>
            <span class="left-lower-first-span">{{'CONTACT.CONTENT' | translate}}</span>
            <span class="need-developer">{{'CONTACT.NEED_DEVELOPER'| translate}} <span
                    class="highlight-green">{{'CONTACT.TALK'| translate}}
                </span></span>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>