<div class="contact-section" id="contact-section-path">
    <div class="left-contact-side">
        <div class="left-upper-section">
            <span class="contact-me-span">Contact me</span>
            <span class="work-together-heading">Let's work together</span>
        </div>
        <div class="left-lower-section">
            <span class="left-lower-heading">Got a problem to solve</span>
            <span class="left-lower-first-span">Encourage people to contact you and describe what role you are
                interested in.
                Show that you will add value to their projects through your work.</span>
            <span class="need-developer">Need a Frontend developer ? <span class="highlight-green">Let`s talk
                    !</span></span>
        </div>
    </div>
    <app-contact-form></app-contact-form>
</div>