<!-- <div class="single-project-container">

    <div class="left-card-side">
        <span class="project-number"></span>
        <span class="project-name"></span>
        <span class="what-about-question"></span>
        <span class="what-about-text"></span>
        <div class="used-technologies"></div>
        <div class="source-buttons">
            <button class="single-source-button gitHub-button"><a href="#"><span
                        class="source-button-text">GitHub</span><img class="arrow-up-right" src=""></a></button>
            <button class=" single-source-button live-test-button"><a href="#"><span class="source-button-text">Live
                        Test</span><img class="arrow-up-right" src=""></a></button>
        </div>
    </div>


    <div class="right-card-side">

        <img class="close-button">
        <img class="project-preview-image">
        <div>
            <span class="next-project-span">Next Project</span>
            <img class="arrow-right" src="../../../assets/img/projects/arrow_forward.svg">
        </div>



    </div>





</div> -->