.project-overlay-container {
  user-select: none;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
  position: absolute;
  width: 80%;
  height: auto;
  background: linear-gradient(to top right, #1c1c1c, #08463b);
  border: 1px solid #3DCFB6;
  border-radius: 30px;
  padding: 80px;
}

.left-card-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-card-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.project-number {
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #3DCFB6;
}

.project-name {
  font-weight: 700;
  font-size: 64px;
  line-height: 80%;
  letter-spacing: -3%;
}

.what-about-question {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3DCFB6;
}

.what-about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.source-buttons {
  display: flex;
  gap: 32px;
}

.single-source-button {
  height: 48px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
}

.source-button-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

.next-project-span {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3DCFB6;
}

.arrow-right {
  width: 40px;
  height: 40px;
}

.project-preview-image {
  border-radius: 30px;
}

.next-project-container-right {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.used-technologies {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tech-icon {
  width: 24px;
  height: 24px;
}

.tech-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.close-button {
  cursor: pointer;
}
