* {
  user-select: none;
}

.resp-navigation {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -3%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header-link-span {
  font-family: 'Fira Code';
}

.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  color: white;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  position: relative;
}

a::after {
  content: '•';
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  color: #3DCFB6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

a:hover::after {
  opacity: 1;
}

a:active {
  color: #3DCFB6;
}

.responsive-header-menu {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 238px;
    height: 254px;
    background: linear-gradient(to top right, rgba(28, 28, 28, 1), rgba(8, 70, 59, 1));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 77px;
    gap: 24px;
    border-radius: 30px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999999999;
    opacity: 0;
    pointer-events: none;
}

.responsive-header-menu.active {
    transform: translateX(-50%);
    opacity: 1;
    pointer-events: auto;
}

#responsive-header-menu span {
    color: white;
    font-size: 16px;
   
}

.responsive-header-link-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -3%;
       font-family: 'Fira Code';
}

.no-division{
    white-space: nowrap;
}








@media (max-width: 1000px) {
  .header {
    font-size: 5px !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }

  @media (max-width: 880px) {
    .whole-name-figma {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .navigation {
      display: none;
    }

    .resp-navigation {
      display: initial;
    }

    .burger-menu-image {
      cursor: pointer;
      width: 32px;
      height: 45px;
    }

    .header {
      flex-direction: row-reverse;
    }
  }

  @media (max-width: 550px) {
    .header {
      font-size: 5px !important;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 50px;
    }
  }
}