.projects-section {
        background-color: rgb(28, 28, 28);
        color: white;
        height: 500px; //just to show section
        width: 100%;


}




.upper-headings{
        
}



.upper-small-heading{


}

.upper-large-heading{

}

.short-section-description{

}

.single-project-area{


}