


.upper-headings {
        height: auto;
        width: 880px;
        display: flex;
        flex-direction: column;
        gap: 20px;
}



.upper-small-heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(61, 207, 182, 1);
}

.upper-large-heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -3%;
        color: rgba(61, 207, 182, 1);
}

.short-section-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 1);
}

.single-project-area {
        width: 880px;
        padding-right: 64px;
        border-top: 1px solid #3DCFB6;
}



.projects-section {
        background-color: rgb(28, 28, 28);
        display: flex; 
     
      }
      
      .content-area {
        color: white;
        height: 500px;
        width: 880px; 
        padding: 96px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 41px;
        flex: 2;
      }
      
      .projects-preview {
        flex: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.3s ease-in-out;
      
        img {
          width: 100%;
          max-width: 300px; 
          border-radius: 10px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
          transition: transform 0.3s;
        }
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateX(10px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      

      

