.projects-section {
        background-color: rgb(28, 28, 28);
        color: white;
        height: 500px; //just to show section
        width: 100%;
        padding: 96px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 41px;
}




.upper-headings{
        display: flex;
        flex-direction: column;
        gap: 20px;
}



.upper-small-heading{
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(61, 207, 182, 1);
}

.upper-large-heading{
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -3%;
        color: rgba(61, 207, 182, 1);
}

.short-section-description{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
       color: rgba(255, 255, 255, 1);
}

.single-project-area{


}