.skills-section {
  display: flex;
  width: 100%;
  background-color: #1c1c1c;
  background-image: url(../../assets/img/backgrounds/skills_background.svg);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 96px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}

.skills-card {
  width: 568px;
  height: auto;
  background-color: rgba(61, 207, 182, 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lower-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skills-subheading-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.skills-subheading-green {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3DCFB6;
}

.skills-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.skills-frame-heading {
  color: #3DCFB6;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3%;
}

.skills-heading {
  color: #3DCFB6;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.talk-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.talk-button-text {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes marqueeButton {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.talk-button:hover .talk-button-text {
  animation: marqueeButton 4s linear infinite;
}

.talk-button:hover {
  transition: all 0.5s ease-in;
  border: 1px solid #3DCFB6;
}
