<div class="skills-section">
    <div class="left-side">
        <span class="skills-heading">Technologies</span>
        <div class="skills-card">
            <span class="skills-frame-heading">Skill set</span>
            <span class="skills-main-text">A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise openess to learning and adapting to new technologies.
                Show how important it is for your to keep up with the rapid changes in web development.</span>
                <div class="lower-card-content">
            <span class="skills-subheading-white">You need<span class="skills-subheading-green"> another skill ?</span></span>
            <span class="skills-subtext">Feel free to contact me . I look forward to<br> expanding on my previous knowledge.</span>
        </div>
            <button class="talk-button"><span class="talk-button-text">Let's Talk</span></button>
        </div>
    </div>
    <div class="right-side">
        <img *ngFor="let img of images" [src]="img" alt="Bild" />
        
    
        <img src="../../assets/img/technologies/growth_mindset.svg">

    </div>
</div>