.skills-section{
    height: 1000px;//just to show area
    width: 100%; 
    background-color: rgb(28, 28, 28);
    background-image: url(../../assets/img/backgrounds/skills_background.svg);

    color: white;
    background-size: cover;
background-repeat: no-repeat;
}