<div class="skills-section">
    <div class="left-side">
        <span class="skills-heading">Technologies</span>>
        <div class="skills-frame">
            <span class="skills-frame-heading">Skill set</span>
            <span class="frame-main-text">A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise openess to learning and adapting to new technologies.
                Show how important it is for your to keep up with the rapid changes in web development.</span>
            <span class="frame-subheading-white">You need<span class="frame-subheading-green">another skill ?</span></span>
            <span class="frame-subtext">Feel free to contact me . I look forward to expanding on my previous knowledge.</span>
            <button class="frame-button"><span class="frame-button-text">Let's Talk</span></button>
        </div>
    </div>
    <!-- right-side for-loop skills -->
</div>