<div class="policy-wrapper">
    <div class="policy-container">
        <h1>{{'PP.MAIN_HEADING'| translate}}</h1>
        <h3>{{'PP.GEN_INFO'| translate}}</h3>
        <p>{{'PP.GEN_INFO_CONTENT'| translate}}
        </p>
        <h3>{{'PP.RES_PARTY_HEADING'| translate}}</h3>
        <p>{{'PP.RES_PARTY_CONTENT'| translate}}
        </p>
        <div class="contact-data-div">
            <span>Rolf Bethmann</span>
            <span>Tränkestraße 8</span>
            <span>38889 Blankenburg</span>
            <span>kontakt(at)rolf-bethmann.de</span>
        </div>
        <h3>{{'PP.PERS_HEADING'| translate}}</h3>
        <p>{{'PP.PERS_DATA_CONTENT'| translate}}
        </p>
        <div class="contact-data-div">
            <span><i>{{'PP.PERS_DATA_IP'| translate}}</i></span>
            <span> <i>{{'PP.PERS_DATA_DATE'| translate}}</i></span>
            <span> <i>{{'PP.PERS_DATA_BROWSER'| translate}}</i></span>
            <span> <i>{{'PP.PERS_DATA_OS'| translate}}</i></span>
            <span><i>{{'PP.PERS_DATA_REFERRER'| translate}}</i></span>
        </div>
        <p>{{'PP.PERS_DATA_EXPL'| translate}}
        </p>
        <h3>{{'PP.COOKIE_HEADING'| translate}}</h3>
        <p>{{'PP.COOKIE_CONTENT'| translate}}
        </p>
        <h3>{{'PP.EXT_LINKS_HEADING'| translate}}</h3>
        <p>{{'PP.EXT_LINKS_CONTENT'| translate}}
        </p>
        <h3>{{'PP.PROCESSING_HEADING'| translate}}</h3>
        <p>{{'PP.PROCESSING_INFO'| translate}}
        </p>
        <h3>{{'PP.RIGHTS_HEADING'| translate}}
        </h3>
        <p>{{'PP.RIGHTS_INTRO'| translate}}
        </p>
        <div class="contact-data-div">
            <span><i>{{'PP.RIGHTS_ACCESS'| translate}}</i></span>
            <span><i>{{'PP.RIGHTS_RECTIFICATION'| translate}}</i></span>
            <span><i>-{{'PP.RIGHTS_ERASURE'| translate}}</i></span>
            <span><i>{{'PP.RIGHTS_RESTRICTION'| translate}}</i></span>
            <span><i>{{'PP.RIGHTS_OBJECTS'| translate}}</i></span>
            <span><i>{{'PP.RIGHTS_DATA'| translate}}</i></span>
        </div>
        <p>{{'PP.RIGHTS_EXPL'| translate}}</p>
        <h3>{{'PP.CHANGES_PP_HEADING'| translate}}</h3>
        <p>{{'PP.CHANGES_PP_CONTENT'| translate}}
        </p>
        <span>{{'PP.UPDATE'| translate}}<i>1.8.2025</i></span>
    </div>
</div>