.quotations-section {
  background-color: #1c1c1c;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.what-colleagues-say {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3dcfb6;
}

app-quotation-card {
  height: 274px;
  width: 632px;
  border: 1px solid #3dcfb6;
  background-color: rgba(61, 207, 182, 0.3);
  border-radius: 32px;
}
