.quotations-section {
    background-color: rgb(28, 28, 28);
    color: white;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100vw;

}

.what-colleagues-say {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(61, 207, 182, 1)
}

// app-quotation-card {


// }

// .slider-container {
//   overflow: hidden;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin: 40px 0;
//   }
  
.slider-container {
  .slider-container {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  gap: 80px; /* statt margin an jeder Slide */
  padding: 0 40px; /* sorgt für gleichmäßigen Abstand links/rechts */
}



  // .slides-wrapper {
  //   display: flex;
  //   transition: transform 0.5s ease-in-out;
  // }
  
  .slide {
    flex-shrink: 0;
    width: 632px;
    height: 274px;
  
    opacity: 0.5;
    transform: scale(0.95);
    transition: transform 0.3s ease, opacity 0.3s ease;
  
    border: 1px solid rgba(61, 207, 182, 1);
    background-color: rgba(61, 207, 182, 0.3);
    border-radius: 32px;



    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  
  .slide.active {
    opacity: 1;
    transform: scale(1);
  }
  