<div class="legal-notice-container">
    <h1>{{'LN.MAIN_HEADING'| translate}}</h1>
    <a href="#">
        <h2>{{'LN.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
    <h3>{{'LN.OWNER_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>Rolf Bethmann</span>
        <span>Tränkestraße 8</span>
        <span>38889 Blankenburg</span>
        <span>kontakt(at)rolf-bethmann.de</span>
    </div>
    <h3>{{'LN.DISCLAIMER_HEADING'| translate}}</h3>
    <p>{{'LN.DISCLAIMER_CONTENT'| translate}}
    </p>
    <h3>{{'LN.EXT_LINKS_HEADING'| translate}}</h3>
    <p>{{'LN.EXT_LINKS_CONTENT'| translate}}
    </p>
    <h3>{{'LN.COPYRIGHT_NOT_HEADING'| translate}}</h3>
    <p>{{'LN.COPYRIGHT_NOT_CONTENT'| translate}}
    </p>
    <p>{{'LN.COPYRIGHT_NOT_THIRD'| translate}}
    </p>
    <h3>{{'LN.CONTACT_INFO_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>[Ihr Name]</span>
        <span>[Ihre Adresse]</span>
        <span>38889 Blankenburg</span>
        <span>kontakt(at)rolf-bethmann.de</span>
    </div>
    <span>{{'LN.UPDATE'| translate}} <i>1.8.2025</i></span>
    <a href="#">
        <h2>{{'LN.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
</div>