<div class="imprint-container">
    <h1>{{'IMPRINT.MAIN_HEADING'| translate}}</h1>
    <a href="#">
        <h2>{{'IMPRINT.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
    <h3>{{'IMPRINT.INFO_TMG_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>[Dein Name]</span>
        <span>[Deine Adresse]</span>
        <span>[PLZ, Stadt]</span>
        <span>[Deine E-Mail-Adresse]</span>
    </div>
    <h3>{{'IMPRINT.RES_CONT_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>[Dein Name]</span>
        <span>[Deine Adresse]</span>
        <span>[PLZ, Stadt]</span>
    </div>
    <h3>{{'IMPRINT.LIAB_CONT_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.LIAB_CONT_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.LIAB_CONT_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.LIAB_LINKS_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.LIAB_LINKS_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.LIAB_LINKS_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.COYRIGHT_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.COYRIGHT_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.COYRIGHT_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.CONTACT_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>[Dein Name]</span>
        <span>[Deine Adresse]</span>
        <span>[PLZ, Stadt]</span>
        <span>[Deine E-Mail-Adresse]</span>
    </div>
    <p>{{'IMPRINT.UPDATE'| translate}}<i>[Datum aktualisieren]</i></p>
    <a href="#">
        <h2>{{'IMPRINT.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
</div>