

<div class="imprint-container">
    <h1>{{'IMPRINT.MAIN_HEADING'| translate}}</h1>
    <a href="#">
        <h2>{{'IMPRINT.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
    <h3>{{'IMPRINT.INFO_TMG_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>Rolf Bethmann</span>
        <span>Tränkestraße 8</span>
        <span>38889 Blankenburg</span>
        <span>kontakt(at)rolf-bethmann.de</span>
    </div>
    <h3>{{'IMPRINT.RES_CONT_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>Rolf Bethmann</span>
        <span>Tränkestraße 8</span>
        <span>38889 Blankenburg</span>
    </div>
    <h3>{{'IMPRINT.LIAB_CONT_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.LIAB_CONT_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.LIAB_CONT_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.LIAB_LINKS_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.LIAB_LINKS_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.LIAB_LINKS_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.COPYRIGHT_HEADING'| translate}}</h3>
    <p>{{'IMPRINT.COPYRIGHT_CONTENT'| translate}}
    </p>
    <p>{{'IMPRINT.COPYRIGHT_INFO'| translate}}
    </p>
    <h3>{{'IMPRINT.CONTACT_HEADING'| translate}}</h3>
    <div class="contact-data-div">
        <span>Rolf Bethmann</span>
        <span>Tränkestraße 8</span>
        <span>38889 Blankenburg</span>
        <span>kontakt(at)rolf-bethmann.de</span>
    </div>
    <p>{{'IMPRINT.UPDATE'| translate}}<i>1.8.2025</i></p>
    <a href="#">
        <h2>{{'IMPRINT.BACK_TO_PORTFOLIO'| translate}}</h2>
    </a>
</div>