* {
  background-color: #1c1c1c;
  font-family: 'Karla';
}

h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 80px;
  color: whitesmoke;
}

h3 {
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 5px;
  color: whitesmoke;
}

p {
  margin-bottom: 5px;
  color: whitesmoke;
}

span {
  margin-bottom: 5px;
  color: whitesmoke;
}

.imprint-container {
  padding: 100px;
}

.contact-data-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
