<div class="project-card">
  <div class="left-projectline-side" (click)="openOverlay()">
    <span class="project-title-span"> {{ project.projectTitle }}</span>
    <img class="outwards-arrow-white" src="./../../../assets/img/projects/arrow_outward_white.svg">
  </div>
  <div class="tech">
    <ng-container *ngFor="let tech of project.usedTechnologies; let isLast = last">
      <span class="tech-item">{{ tech }}</span>
      <span *ngIf="!isLast" class="pipe">|</span>
    </ng-container>
  </div>
</div>