* {
  user-select: none;
}

.skills-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(28, 28, 28);
  background-image: url(../../../assets/img/backgrounds/skills_background.svg);
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 96px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}

.skills-card {
  width: 568px;
  height: auto;
  background-color: rgba(61, 207, 182, 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lower-card-content {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.skills-subheading-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: 'Fira Code';
}

.skills-subheading-green {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3DCFB6;
  font-family: 'Fira Code';
}

.skills-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: 'Karla';
}

.skills-frame-heading {
  color: #3DCFB6;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3%;
  font-family: 'Fira Code';
}

.skills-heading {
  color: #3DCFB6;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: 'Karla';
}

.right-side {
  width: 100%;
  display: flex;
  padding-top: 190px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-container {
  width: 632px;
  flex: 0 1 calc(25% - 24px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.single-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.image-container img {
  transition: transform 0.3s ease-in;
}

.image-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.info-box {
  position: absolute;
  top: -140px;
  left: 0;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  color: #3DCFB6;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info-box::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 30%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.image-container.last-image:hover .info-box {
  opacity: 1;
  pointer-events: auto;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.growth-images-row {
  display: flex;
  gap: 16px;
}

.growth-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-growth-styling {
  width: 32px;
  height: 32px;
}

.images-growth-text-styling {
  font-weight: 700;
  font-size: 12px;
  line-height: 108%;
  font-family: 'Fira Code';
}

.last-image .skill-font-styling {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  font-family: 'Fira Code';
}

.last-image:hover .skill-font-styling {
  color: #3DCFB6;
}

.skills-main-text {
  font-family: 'Karla';
}

.special-interest-styling {
  font-family: 'Fira Code';
}

.talk-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla';
  width: fit-content;
  height: fit-content;
}

.talk-button-text {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

@keyframes marqueeButton {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.talk-button:hover .talk-button-text {
  animation: marqueeButton 4s linear infinite;
}

.talk-button:hover {
  transition: all 0.5s ease-in;
  border: 1px solid #3DCFB6;
}

@media (max-width: 1400px) {
  .skills-section {
    flex-direction: column;
    padding: 0px;
  }

  .right-side {
    padding-top: 96px;
  }

  .left-side {
    justify-content: center;
    align-items: center;
  }

  .right-side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
  }

  .test {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .image-container {
    width: 50%;
  }

  .right-side {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;
    justify-items: center;
  }

  .skill-image {
    width: 40px;
    height: 40px;
  }

  .right-side {
    padding-top: 96px;
  }

  .single-skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-font-styling {
    text-align: center;
  }
}

@media (max-width: 730px) {
  .skills-card {
    width: 568px;
    padding: 16px;
  }

  .skills-section {
    gap: 20px;
  }
}

@media (max-width: 670px) {
  .skills-card {
    width: 450px;
  }

  .right-side {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 550px) {
  .skills-card {
    width: 390px;
  }

  .right-side {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .skills-card {
    width: 300px;
  }

  .right-side {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 390px) {

  .skills-card {
    width: 250px;
  }

  .right-side {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
    justify-items: center;
  }
}