.single-project-container{
    width: 400px;//just for showing
    height: 200px; //just for showing
    background: linear-gradient(to top right, rgba(28, 28, 28, 1), rgba(8, 70, 59, 1));








    
}