.single-project-container{


    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // text-align: center;
  


    width: 400px;//just for showing
    height: 200px; //just for showing
    background: linear-gradient(to top right, rgba(28, 28, 28, 1), rgba(8, 70, 59, 1));
    border: 1px solid  #3DCFB6;







    
}