<div class="projects-section" id="projects-section-path">

  <div class="content-area">
    <div class="upper-headings">
      <span class="upper-small-heading">Portfolio</span>
      <span class="upper-large-heading">Featured Projects</span>
    </div>
    <span class="short-section-description">
      Explore a selection of my work here - interact with projects to see my skills in action
    </span>

    <div class="single-project-area">
      <div class="test-wrapper">
      <div class="project-hover-wrapper" *ngFor="let project of projectsData; let i = index"
        (mouseenter)="onHover(project.imageSource, i)" (mouseleave)="hoveredImage = ''"  (click)="openOverlay(project)">
        <app-single-project [project]="project"  (projectSelected)="openOverlay($event)"></app-single-project>
      </div>
    </div>
    <div class="projects-preview" *ngIf="hoveredImage" [ngStyle]="{'margin-top': previewTopPosition + 'px'}">
      <img [src]="hoveredImage" alt="Preview" />
    </div>
  </div>
  <app-project-overlay
  *ngIf="selectedProject"
  [allProjects]="projectsData"
  (changeProject)="onChangeProject($event)"
  [project]="selectedProject"
  (close)="closeOverlay()">
</app-project-overlay>
</div>