* {
  user-select: none;
}

.responsive-line {
  display: none;
}



.projects-section {
  background-color: rgb(28, 28, 28);
  display: flex;

  padding: 96px;
  gap: 64px;

  .content-area {
    color: white;


    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 41px;
    flex-shrink: 0;

    .upper-headings {
      width: 100%;
      max-width: 880px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .upper-small-heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: rgba(61, 207, 182, 1);
        font-family: 'Karla';
      }

      .upper-large-heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -3%;
        color: rgba(61, 207, 182, 1);
        font-family: 'Fira Code';
        word-break: break-word;
overflow-wrap: break-word;

      }
    }

    .short-section-description {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: rgba(255, 255, 255, 1);
      font-family: 'Karla';
      word-break: break-word;
overflow-wrap: break-word;

    }

    .single-project-area {
      display: flex;
      justify-content: space-between;
      width: 100%;

    }
  }


  .single-project-area {
    position: relative;
  }

  .half-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: #3DCFB6;
  }






  .projects-preview {
    // flex-shrink: 0;
    animation: fadeIn 0.3s ease-in-out;
    // position: relative;
    // top: 0;

    img {
      // padding-left: 300px;
      padding-right: 200px;
      // width: 100%;
      max-width: 300px;
      border-radius: 10px;
      transition: transform 0.3s;
      // display: block;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.test-wrapper {
  width: 50%;
}

.single-project-area {
  width: 50%;
}


@media (max-width: 1500px) {



  .content-area {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .upper-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;

  }

  .test-heading {
    display: flex;
    //  width: 100%;
    align-items: flex-start;
  }

  .single-project-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .half-border {
    display: none;
  }

  .responsive-line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #3DCFB6;
  }




}



@media (max-width: 1250px) {
  .projects-section {
    padding-left: 0px;
    padding-right: 0px;
  }

}


@media (max-width: 950px) {
  .single-project-area {}

  .test-wrapper {
    width: 85%;
  }


}

@media (max-width: 900px) {

.upper-headings {
  width: 100%;
  max-width: 880px;
  padding: 0 54px; 
  box-sizing: border-box;
  // margin: 0 auto; 
}



}

@media (max-width:560px) {

.upper-large-heading{
  font-size: 5px;
}
.upper-small-heading{
  font-size: 20px;
}

.projects-section{
  padding-left: 8px;
  padding-right: 8px;
}

.upper-headings{
  padding-left: 0;
  padding-right: 0;

}


}



// @media (max-width:650px) {}

// @media (max-width:650px) {}