* {
  user-select: none;
}

.responsive-line {
  display: none;
}

.projects-section {
  background-color: #1c1c1c;
  display: flex;
  padding: 96px;
  gap: 64px;
}

.projects-section .content-area {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 41px;
  flex-shrink: 0;
}

.projects-section .content-area .upper-headings {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-section .content-area .upper-headings .upper-small-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #3dcfb6;
  font-family: 'Karla';
}

.projects-section .content-area .upper-headings .upper-large-heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -3%;
  color: #3dcfb6;
  font-family: 'Fira Code';
  word-break: break-word;
  overflow-wrap: break-word;
}

.projects-section .content-area .short-section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: white;
  font-family: 'Karla';
  word-break: break-word;
  overflow-wrap: break-word;
}

.projects-section .content-area .single-project-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects-section .single-project-area {
  position: relative;
}

.projects-section .half-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #3DCFB6;
}

.projects-section .projects-preview {
  animation: fadeIn 0.3s ease-in-out;
}

.projects-section .projects-preview img {
  padding-right: 200px;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.test-wrapper {
  width: 50%;
}

.single-project-area {
  width: 50%;
}

@media (max-width: 1500px) {
  .content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upper-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;
  }
  .test-heading {
    display: flex;
    align-items: flex-start;
  }
  .single-project-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .half-border {
    display: none;
  }
  .responsive-line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #3DCFB6;
  }
}

@media (max-width: 1250px) {
  .projects-section {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 950px) {
  .test-wrapper {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .upper-headings {
    width: 100%;
    max-width: 880px;
    padding: 0 54px;
    box-sizing: border-box;
  }
  .projects-preview {
    margin-left: 200px;
  }
}

@media (max-width: 560px) {
  .upper-small-heading {
    font-size: 20px;
  }
  .projects-section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .upper-headings {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .upper-large-heading {
    font-size: 50px !important;
  }
}
