.language-toggle {
    position: relative;
    width: 100px;
    height: 28px;
    background: #1E252B; 
    border: 1px solid #3DCFB6; 
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    user-select: none;
    transition: background 0.3s ease-in-out, border 0.3s;
     font-family: 'Fira Code';
  }





  .language-toggle:hover{
    border:1px solid white;
   
  }
  
  .lang-option {
    flex: 1;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4); 
    
    font-weight: normal; 
    transition: color 0.3s ease-in-out, font-weight 0.3s;
  }


  .lang-option:hover{
    color: #3DCFB6;}
  
// active language
  .lang-option.active {
    color: #ffffff;
    font-weight: bold; 
  }
  
  /* Der bewegliche Schalter */
  .toggle-switch {
    position: absolute;
    width: 50px;
    height: 28px;
    background: #3DCFB6; 
    border-radius: 15px;
    border: 1px solid #3DCFB6;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Standardmäßig Deutsch aktiv */
  .active-de {
    transform: translateX(0);
  }
  

  .active-en {
    transform: translateX(50px);
  }
  