.whole-footer{
display:flex;
align-items: center;
justify-content: space-between;
color: #FFFFFF;
margin-bottom: 100px;
margin-top: 100px;
padding-left: 100px;
padding-right: 100px;
user-select: none;

}

.footer-left{
display:flex;
flex-direction: column;
gap: 32px;


}


// .initials-name-logo{
// display: flex;
// gap: 8px

// }

// .initials-name{
// display: flex;
// flex-direction: column;

// }

.footer-left-bottom{
display: flex;   ///Web Developer Area
flex-direction: column;
gap: 8px;
font-size: 16px;
font-weight: 400;
line-height: 120%;
}

.footer-center{
display: flex;     //copyright area
align-items: center;
font-size: 18px;
font-weight: 400;
line-height: 120%;
color: #3DCFB6;
}

.footer-right{
display: flex;         //Link area
flex-direction: column;
gap: 8px;
font-size: 16px;
font-weight: 400;
line-height: 120%;



}
a{
    color: white;
    text-decoration: none;  /* Optional: entfernt die Unterstreichung des Links */
    position: relative;  /* Damit das Pseudoelement absolut positioniert werden kann */

}

// .initials-name-logo:hover svg .inner-fill {
//     fill: transparent;
// }

a:hover{
    color: #3DCFB6;
   
}

// a:hover::before {
//     content: "• ";  /* Punkt vor dem Link */
//     margin-right: 5px;  /* Optional: Abstand zwischen Punkt und Link */
// }

a:hover::before {
    content: "• ";  /* Punkt vor dem Link */
    position: absolute;
    left: -20px;  /* Positioniere den Punkt links vom Text */
    top: 0;  /* Vertikale Position des Punkts anpassen, wenn nötig */
}