.whole-footer{
display:flex;
align-items: center;
justify-content: space-between;


}

.footer-left{
display:flex;
flex-direction: column;
}


.footer-left-top{

}

.footer-left-bottom{
display: flex;   ///Web Developer Area
flex-direction: column;
}

.footer-center{
display: flex;     //copyright area
align-items: center;
}
.footer-right{
display: flex;         //Link area
flex-direction: column;
}