<div class="whole-footer">
    <div class="footer-left">
        <div class="footer-left-top">
            <!-- placeholder for logo -->
            <span>Logo with name</span>
        </div>
        <div class="footer-left-bottom">
            <span>Web Developer</span>
            <span>Blankenburg(Harz) Germany</span>
        </div>
    </div>






    <div class="footer-center">
        <span>&copy; Rolf Bethmann 2025</span>
    </div>








    <div class="footer-right">
        <a href="#"> <span>Github</span></a>
        <a href="#"> <span>Linkedin</span></a>
        <a href="#"> <span>Email</span></a>
        <a href="#"> <span>Legal Notice</span></a>
        <a href="#"> <span>Privacy Policy</span></a>
        <a href="#"> <span>Imprint</span></a>
    </div>
</div>