


.landingpage-below-header{
    
height: 90dvh;
}

.font-white{
    color: white

}

.landingpage{
        // background: linear-gradient(to top right, #1C1C1C, #08463B);
        background-color: rgb(28, 28, 28);
        background-image: url(../../assets/img/backgrounds/landingpage_bg.svg);
    
        color: white;
        background-size: cover;
    background-repeat: no-repeat;
    }


