


.landingpage-below-header{
    
height: 90dvh;
}

.font-white{
    color: white

}

.landingpage{
        // background: linear-gradient(to top right, #1C1C1C, #08463B);
        background-color: rgb(28, 28, 28);
        background-image: url(../../assets/img/backgrounds/landingpage_bg.svg);
    
        color: white;
        background-size: cover;
    background-repeat: no-repeat;


    }


.marquee {
    white-space: nowrap; /* Verhindert Umbrüche */
    overflow: hidden; /* Versteckt überflüssigen Text */
    display: block;
    position: relative;
    
    animation: marquee-animation 10s linear infinite;
}

/* Animation für das Schriftband */
.marquee {
    white-space: nowrap; /* Kein Zeilenumbruch */
    overflow: hidden; /* Text außerhalb ausblenden */
    display: block;
    position: relative;
    
    animation: marquee-animation 50s linear infinite;
}

/* Animation für schrägen Verlauf */
@keyframes marquee-animation {
    from {
        transform: translate(100%, -10px); /* Start: rechts, leicht höher */
    }
    to {
        transform: translate(-100%, 100px); /* Ende: links, etwas tiefer */
    }
}


.marquee:hover {
    animation-play-state: paused;
}


.main-text-landingpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 218px;

}

.job-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #D9D9D9;
}

.name-title{

    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #D9D9D9;
}

.atf-button{
    background-color: transparent;
    border: 1px solid white; /* Oder eine andere Farbe */
    color: white; /* Oder eine andere Farbe */
    padding: 10px 30px; /* Längliches Format */
    border-radius: 50px; /* Oval */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
   
}

.atf-button:hover{
    border: 1px solid #3DCFB6;;
}

.sub-heading-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 48px;
   
}

.name-and-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.name-title{
    text-align: center;
    user-select: none;
}
