<div class="landingpage">
    <app-header></app-header>

    <div class="main-text-landingpage">
        <span class="job-title">Frontend Developer</span>
        <div class="name-and-button">
            <span class="name-title">Rolf Bethmann</span>
            <div class="sub-heading buttons">
                <button class="atf-button"><span class="atf-button-text">Check my work</span></button>
                <button class="atf-button"><span class="atf-button-text">Contact me</span></button>
            </div>
        </div>
    </div>

    <div class="landingpage-below-header">


        <!-- <div class="marquee">Ich möchte noch designed werden !!!</div> -->
    </div>
</div>