// *{
    // background: linear-gradient(to top right, black 0%, gray 50%, white 100%);
// background-color: white;
// }

// app-atf{
//     background-color: white;
// }



.landingpage-below-header{
    // background: linear-gradient(to top right, #1C1C1C, #08463B);
height: 90dvh;
}

.font-white{
    color: white
}

.landingpage{
        background: linear-gradient(to top right, #1C1C1C, #08463B);

}
