.landingpage-below-header {
  height: 90dvh;
}

.font-white {
  color: white;
}

.landingpage {
  background-color: #1c1c1c;
  background-image: url(../../assets/img/backgrounds/landingpage_bg.svg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
